<style>
  .navbar{
   height:18vh;
  }
  .navbar-nav{
    width:72vw;
    margin-left:12vw;
    
  }
  .nav-link{
    font-size:1.6em;
    color: {{ settings.text-dark }};
  }
  .search-block{
    position:relative;
    right:18vw
  }
  .search-block form{
    display:flex;
    flex-flow:row nowrap;
    justify-content:flex-start;
    position:relative;
    left:400
  }
  .cart-count{
    z-index:999;
    position:relative;
    top:16px;
    text-align:center;
    font-weight:bold

  }
  .cart-icon{
    width:46px;
    height:46px;
    position:relative;
    top:-28px;
  }

</style>

<header>
  <nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% for link in linklists.main-menu.links -%}
            <li class="nav-item">
                <a class="nav-link" href="{{ link.url }}">{{ link.title}}</a>
            </li>
        {%- endfor %}
        {% if cart.item_count > 0 %}
        <li>
          <a href="/cart">
            <h4 class="cart-count" style="color:{{settings.accent-one}}!important">
                {{ cart.item_count }}
            </h4>
              <img src="/assets/cart-icon.png" class="cart-icon" />
          </a>
        </li>
      {% endif %}
      </ul>
      <div class="search-block">
      <form action="/search">
        <input type="search" name="q">
        <button type="submit" class="btn btn-primary">search</button>
        </form>
      </div>
    </div>
  </nav>
  {% render 'branding' %}
</header>