<div class="container">
    <div class="card">
        <h1 class="card-header">cart</h1>
        {% if cart.empty? %}
            <h2>sorry cart is empty
        {% else %}
            <h6 class="card-header">You have {{ cart.item_count }} items in your cart</h6>
            {% form 'cart', cart %}
                {% for item in cart.items %}
                    <div class="card">
                        <div class="card-body row">
                            <div class="col-12 row mb-3">
                                <div class="col-12">
                                    {{ item.title }}
                                </div>
                                <div class="col-12 row">
                                    <div class="col-2">
                                        <img style="height:120px;width:120px" src="{{ item.image | image_url }}" />
                                    </div>
                                    <div class="col-8">
                                        {{ item.description }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-8">  
                                <input type="number" name="updates[]" value="{{item.quantity}}"> at {{ item.price | money}}
                            </div>
                            <div class="col-4">
                                {{ item.final_line_price | money }}
                                <button type="submit" name="update" class="btn btn-primary">update</button>
                                <a href="{{item.url_to_remove}}">
                                    <button class="btn btn-primary">Remove</button>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            
       
      <div class="row">
            <h1 class="col-8 mx-3">{{cart.total_price | money}}</h1>
            <div class="col-3">
                
                <button type="submit" name="checkout" class="btn btn-primary btn-large">checkout</button>
            </div>
        </div>
        {% endform %}
    {% endif%}
    </div>
</div>