<div class="container">
    <div class="card">
        <h1 class="card-header">cart</h1>
        {% if cart.empty? %}
            <h2>sorry cart is empty
        {% else %}
            <h6 class="card-header">You have {{ cart.item_count }} items in your cart</h6>
            {% form 'cart', cart %}
                {% for item in cart.items %}
                    <div class="card">
                        <div class="card-body row">
                            <div class="col-12">{{ item.title }}</div>
                            <div class="col-8">  
                                <input type="number" name="updates[]" value="{{item.quantity}}"> at {{ item.price | money}}
                            </div>
                            <div class="col-4">
                                {{ item.final_line_price | money }}
                                <a href="{{item.url_to_remove}}">Remove</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            
       
      <div class="row">
            <h1 class="col-8 mx-3">{{cart.total_price | money}}</h1>
            <div class="col-3">
                <button type="submit" name="update" class="btn btn-primary">update</button>
                <button type="submit" name="checkout" class="btn btn-primary">checkout</button>
            </div>
        </div>
        {% endform %}
    {% endif%}
    </div>
</div>