<div class="fluid-container">
    <div class="my-5">
        <div class="container">
            <div class="container container-box">
                <a href="collections/tops">
                    <h2 class="header-block">Tops</h2>
                </a>
            <div class="row">
                {% for product in collections['tops'].products %}
                
                        <div class="card col-lg-3">
                            <div class="card-body">
                                <img style="width:12vw" src="{{product.featured_image | image_url }}" />
                            </div>
                            <div class="card-body">
                                <hr class="product-separator" />
                                <h6><a href="{{product.url}}">{{ product.title }}</a></h6>
                                <h6>{{ product.price | money }}</h6>
                            </div>
                        </div>
                
                {% endfor %}
            </div>
        </div>
        <div class="container container-box">
            <a href="/collections/bottoms">    
                <h2 class="header-block">Bottoms</h2>
            </a>
            <div class="row">
                {% for product in collections['bottoms'].products %}
                
                        <div class="card col-lg-3">
                            <div class="card-body">
                                <img style="width:12vw" src="{{product.featured_image | image_url }}" />
                            </div>
                            <div class="card-body">
                                <hr class="product-separator" />
                                <h6><a href="{{product.url}}">{{ product.title }}</a></h6>
                                <h6>{{ product.price | money }}</h6>
                            </div>
                        </div>
                
                {% endfor %}
            </div>
        </div>
        <div class="container container-box">
            <a href="collections/shoes">
                <h2 class="header-block">Shoes</h2>
            </a>
            <div class="row">
                {% for product in collections['shoes'].products %}
                
                        <div class="card col-lg-3">
                            <div class="card-body">
                                <img style="width:12vw" src="{{product.featured_image | image_url }}" />
                            </div>
                            <div class="card-body">
                                <hr class="product-separator" />
                                <h6><a href="{{product.url}}">{{ product.title }}</a></h6>
                                <h6>{{ product.price | money }}</h6>
                            </div>
                            
                        </div>
                
                {% endfor %}
            </div>
        </div>
        </div>
    </div>      
</div>