<style>
    .image-anchor{
        height:100vh;
        width:100%;
        background-image: url({{ product.featured_image | image_url }});
        background-size:cover
    }
</style>
<div class="container">
    <div class="row col-12">
        <h4 class="header-block"><i>{{product.title}}</i></h4>
    </div>
    <div class="row">
        <div class="col-7">
            <div class="card">
                <div class="card-body">
                    <div class="image-anchor"></div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
              <div class="card-body">
                    <h6 class="col-12">{{ product.title }}</h6>
                    <div class="pa-3">
                        {{product.description}}
                    </div>
                </div>
                <div class="card-footer">
                  <h2 class="col-12">{{ product.price | money }}</h2>
                  <div class="card-footer">
                    {% form 'product', product %}
                        <select name="id">
                            <option value="0">select size</option>
                        {% for variant in product.variants %}
                            <option value={{ variant.id }}>
                                {{ variant.title }}
                            </option>
                        {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-large btn-primary">add to cart</button>
                   {% endform %}
                  </div>
              </div>
        </div>
    </div>
    <div class="container row">
        
            {% for item in product.images %}
            <div class="col-3 card">
                   
                        <div class="card-body">
                            <div
                                style="width:280px;height:280px;
                                background-image: url({{item | image_url}});
                                background-size:contain;background-repeat:no-repeat">
                            </div>
                        </div>
                    
                </div>
            {% endfor %}
       
    </div>
</div>