<div class="container">
    <div class="row col-12">
        <h1 class="header-block">{{product.title}}</h1>
    </div>
    <div class="row">
        <div class="col-7">
            <div class="card">
                <div class="card-body">
                    <img style="width:39vw" src="{{ product.featured_image | image_url }}" />
                  </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card">
              <div class="card-body">
                    <h6 class="col-12">{{ product.title }}</h6>
                    <div class="pa-3">
                        {{product.description}}
                    </div>
                </div>
                <div class="card-footer">
                  <h2 class="col-12">{{ product.price | money }}</h2>
                  {% form 'product', product %}
                    <select name="id" style="visibility:hidden">
                      {% for variant in product.variants %}
                          <option value={{ variant.id }}>
                            {{ variant.title }}
                          </option>
                      {% endfor %}
                    </select><br/>
                    <button type="submit" class="btn btn-large btn-primary">add to cart</button>
                   {% endform %}
                  </div>
              </div>
        </div>
    </div>
</div>