<div class="container">
    <div class="card">
        {% if search.performed %}
            <div class="card-body">
                <h5>{{ search.results_count}} result/s for search term "{{ search.terms }}"<h5>
                <div class="row">
                    {% for product in search.results %}
                        <div class="card col-lg-3">
                            <div class="card-body">
                                <img style="width:12vw" src="{{product.featured_image | image_url }}" />
                            </div>
                            <div class="card-body">
                                <hr class="product-separator" />
                                <h6><a href="{{product.url}}">{{ product.title }}</a></h6>
                                <h6>{{ product.price | money }}</h6>
                            </div>
                        </div>
                  {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>